.secretNumber-wrapper {
	@include flex(flex, column, space-evenly, center);
	background: $componentColor;
	border-radius: 10px;
	color: $textColor;
	padding: 7px 5px;
	text-align: center;
	width: 100%;
	max-width: 300px;
	height: 450px;
	opacity: 0;
	animation: fade 1s;
	animation-fill-mode: forwards;

	h4 {
		margin-bottom: 6px;
	}

	p {
		font-size: 12px;
		margin-bottom: 6px;
	}
	.error-message {
		color: red;
		visibility: hidden;
	}

	.play-again-btn.inactive,
	.inactive {
		pointer-events: none;
		opacity: 0.5;
	}

	#guessForm {
		@include flex(flex, column, space-evenly, center);
		#secretNumberInput {
			width: 40px;
			height: 40px;
			text-align: center;
			font-size: 20px;
			outline: none;
			border: none;
			border-radius: 10px;
			background: $textColor;
			color: $componentColor;
			&::placeholder {
				color: $componentColor;
				opacity: 0.8;
			}
			&:focus {
				&::placeholder {
					opacity: 0;
				}
			}
		}
		.guess-btn-wrapper {
			cursor: not-allowed;
			width: 75px;
			#guessButton {
				margin-top: -15px;
				margin-bottom: 5px;
				border: none;
				outline: none;
				border-radius: 10px;
				background: $textColor;
				padding: 5px 10px;
				color: $componentColor;
				transition: 0.3s;
				width: 100%;
				font-size: 12px;

				&:hover {
					cursor: pointer;
					opacity: 0.8;
				}
			}
		}
	}
	.displayedMessage {
		visibility: visible;
		padding: 5px;
		font-size: 12px;
	}
	.buttons-div {
		cursor: not-allowed;
		button {
			width: 145px;
			outline: none;
			border: none;
			background: $textColor !important;
			color: $componentColor !important;
			border-radius: 10px;
			padding: 10px 6px;
			font-size: 10px;
			transition: 0.3s all;

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}
	}
}

@media all and (min-width: 650px) and (min-height: 785px) {
	.secretNumber-wrapper {
		max-width: 500px !important;

		h4 {
			font-size: 20px;
		}
		h5 {
			font-size: 16px;
			margin-bottom: 5px;
		}
		h6 {
			font-size: 14px;
		}
		p {
			font-size: 14px;
			max-width: 40ch;
		}
		#guessForm {
			transform: scale(1.15);
			.guess-btn-wrapper {
				cursor: not-allowed;
				width: 95px;
				#guessButton {
					padding: 5px 10px;
					font-size: 13.5px;

					&:hover {
						cursor: pointer;
						opacity: 0.8;
					}
				}
			}
		}
		.buttons-div {
			button {
				width: 170px;
				font-size: 13px;
				padding: 10px;
			}
		}

		.displayedMessage {
			font-size: 18px;
		}
	}
}

@media all and (min-width: 1150px) and (min-height: 785px) {
	.secretNumber-wrapper {
		max-width: 650px !important;
		height: 550px !important;

		h4 {
			font-size: 22px;
		}
		h5 {
			font-size: 18px;
			margin-bottom: 5px;
		}
		h6 {
			font-size: 15px;
		}
		p {
			font-size: 16px;
			max-width: 40ch;
		}
		#guessForm {
			transform: scale(1.25);
			.guess-btn-wrapper {
				cursor: not-allowed;
				width: 125px;
				#guessButton {
					padding: 5px 10px;
					font-size: 15px;

					&:hover {
						cursor: pointer;
						opacity: 0.8;
					}
				}
			}
		}
		.buttons-div {
			button {
				width: 180px;
				font-size: 15px;
				padding: 15px;
			}
		}

		.displayedMessage {
			font-size: 20px;
		}
	}
}

@keyframes fade {
	0% {
		opacity: 0;
		transition: 1s all;
	}
	100% {
		opacity: 1;
		transition: 1s all;
	}
}
